@import url('https://fonts.googleapis.com/css?family=Poppins');


body{
	  scroll-behavior: smooth;
    background-color: #2c2f33 !important;
    color: white !important;
    font-family: "Poppins";
}

.navClick{
	margin-left: 20px;
	color: #fff;
	font-weight: bold;
}

.btn{
  width:20%;
	margin: 28px;
  height:10%;
	background-color:transparent;
	padding: 15px;
}

.btn:hover{
	box-shadow: 0px 0px 20px 0px black;
}

.card {
  box-shadow: 5px 14px 14px 0 rgb(0, 0, 0, 0.6);
	margin: 30px;
	margin-right: 50px;
	padding: 10px;
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.centered{
    text-align: center;
}

.navbar-container{
  position: fixed;
  width: 100%;
	z-index: 999;
  height: 100px;
  left: 0;
  overflow: hidden;
  background: #ff2142;
  color: #fff;
	border-bottom: solid 5px;
}

.sidebar-container{
  position: fixed;
  width: 190px;
  height: 100%;
  left: 0;
	margin-top: 100px;
  overflow: hidden;
  background: #23272a;
  color: #fff;
	border-right: solid 5px;
}

.sidebar-logo{
  padding: 10px 15px 10px 10px;
  font-size: 20px;
  background-color: #ff2142;
	border-bottom: solid 5px;
	border-color: #fff;
}

.sidebar-navigation{
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li{
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 40px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus{
  text-decoration: none;
  outline: none;
  margin-left: 20px;
	color: #fff;
	font-weight: bold;
}


.sidebar-navigation li::before{
  background-color: #ff2142;
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before{
  width: 100%;
}

.sidebar-navigation .header{
  text-transform: uppercase;
  background-color: #23272a;
  padding: 10px 15px 10px 10px;
}

.sidebar-navigation .header::before{
  background-color: transparent;
}

.content-container {
  padding-left: 250px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: transparent;
}
